# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Env files (local secrets)
.env

# Logs
*.log
logs/

# OS / Editor files
.DS_Store
Thumbs.db
.idea/
.vscode/

